@import url('https://fonts.googleapis.com/css?family=Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jomolhari|Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
html,
body {
    margin: 0;
    padding: 0;
}

.map-wrapper {
    overflow: scroll;
    position: fixed;
    /* left: 0;
    bottom: 0; */
    width: 100%;
    min-width: 200px;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 400px;
}

.weather-wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    min-height: 400px;
    max-height: 900px;
    /* overflow: scroll; */
    justify-items: center;
    justify-content: center;
}

#daily-weather {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 320px;
    min-width: 270px;
    min-height: 100px;
    text-align: center;
    margin: 50px;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(222, 36, 68, 1) 51%, rgba(253, 29, 29, 1) 74%, rgba(252, 176, 69, 1) 100%);
}

.weather-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
}

.wind-Container {
    margin-top: 20px;
}

.wind-Container i {
    display: inline-flex;
    font-size: 20px;
    margin-right: 10px;
    color: white;
}

.wind-Info {
    display: inline-flex;
    color: white;
    font-family: "Jotia W00", sans-serif;
    font-size: 25px;
}

.date-Container {
    margin-top: 20px;
}

.date-Container i {
    display: inline-flex;
    font-size: 20px;
    margin-right: 10px;
    color: white;
}

.date-Info {
    display: inline-flex;
    color: white;
    font-family: "Jotia W00", sans-serif;
    font-size: 25px;
}

.weather-Description {
    /* display: inline-block; */
    color: white;
    font-family: "Jotia W00", sans-serif;
    font-size: 25px;
}

.temperature-Data {
    color: white;
    font-family: "Jotia W00", sans-serif;
    font-size: 50px;
    margin-top: 20px;
}


/* #daily-weather:nth-child(1) {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: 0px;
}

#daily-weather:nth-child(n+2) {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 20px;
} */